# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\I7M13\Documents\Learning\TEC\Computer Engineering (CE)\Algoritmos y Estructuras de Datos I\IntelliJ\Extraclass_I\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
